<div id="ooo" class="ooo">
OOO:
<% if !@team.nil? %>
	<%= "-" unless @team.all_ooo_teammembers.length > 0%>
	<% @team.all_ooo_teammembers.each do |teammember| %>
	<%= teammember.name %><%= "," unless teammember.eql?(@team.all_ooo_teammembers.last) %>
	<% end %>
<% end %>
</div>
