<div id="ooo" class="ooo">
(<%= @team.all_ooo_teammembers.length %>) OOO:<% @team.all_ooo_teammembers.each do |teammember| %>
<%= teammember.name %><%= "," unless teammember.eql?(@team.all_ooo_teammembers.last) %>
<% end %>
</div>
