// Place all the styles related to the DailyNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ooo {
  color:gray;
  font-size: 14px;
  font-family: helvetica;
}

.notes {
  color:black;
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;
}

notes {
  color:black;
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;
}
