// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.goals span {
	display: none;
}

.goals li:hover span {
	display: inline;
}

.goals {
  color:black;
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;
}

.goals ul {
	margin: 0px;
	color: green;
}

.updated {
	color: red;
}