// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes li span, #add_button {
	display: none;
}

.notes li:hover span, .notes #note_headline:hover #add_button {
	display: inline;
}

.notes {
  color:black;
  font-size: 14px;
  font-family: helvetica;
  font-weight: bold;
}

